<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435611865112-1mhg3k8gp08bi46n81piglt0k33iqnhl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435611865112-1mhg3k8gp08bi46n81piglt0k33iqnhl</string>
	<key>API_KEY</key>
	<string>AIzaSyBtvv-3M90sOnbcG_5-0Jv7IdTAMmCrCDg</string>
	<key>GCM_SENDER_ID</key>
	<string>435611865112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.edu.utas.kit721.ywang150</string>
	<key>PROJECT_ID</key>
	<string>kit721-assignment2</string>
	<key>STORAGE_BUCKET</key>
	<string>kit721-assignment2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435611865112:ios:ddd6893ee9170c4d81336d</string>
</dict>
</plist>